{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": ["@babel/transform-runtime", "transform-class-properties"]
}