{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["react-app", "airbnb", "airbnb-typescript", "prettier"],
  "parserOptions": {
     "project": "./tsconfig.json"
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "class-methods-use-this": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/function-component-definition": "off",
    "react/jsx-no-constructed-context-values": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/require-default-props": "off",
    "react/no-array-index-key": "off",
    "react/jsx-no-useless-fragment": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "func-names": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "no-promise-executor-return": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "prettier/prettier": ["error"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
