image: node:16.14.0

services:
  - docker:dind

stages:
  - dependencies
  - lint
  - build

# install js dependencies
install_dependencies:
  stage: dependencies
  tags:
    - k8srunner
  script:
    - rm -rf node_modules && yarn install
  cache:
    paths:
      - node_modules/
    policy: push

# run the code analysis
code_analysis:
  stage: lint
  tags:
    - k8srunner
  cache:
    paths:
      - node_modules/
    policy: pull
  script:
    - yarn lint

# build and generate deployable outputs
build:
  stage: build
  tags:
    - k8srunner
  cache:
    paths:
      - node_modules/
    policy: pull
  script:
    - yarn build
