variables:
  GIT_STRATEGY: clone

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG

stages:
  - publish

# ============================================================================
# Build and publish Docker images
# ============================================================================

# Template to build and push Docker image

.publish:
  stage: publish
  image: docker:20.10.7
  services:
    - docker:20.10.7-dind
  before_script:
    - apk add make git
    - echo $PASSWORD | docker login --username $USERNAME --password-stdin $REGISTRY
  script:
    - cd $DIRECTORY
    - make build
    - make push

# Extends .publish template to publish development version to GitLab on non-tag
# commit

.publish-dev:
  extends: .publish
  variables:
    REGISTRY: $CI_REGISTRY
    USERNAME: $CI_REGISTRY_USER
    PASSWORD: $CI_REGISTRY_PASSWORD
    PREFIX: $CI_REGISTRY_IMAGE
    GITHASH: $CI_COMMIT_SHORT_SHA
  rules:
    - if: '$CI_COMMIT_TAG == null || $CI_COMMIT_TAG == ""'

# Extends .publish template to publish release to artefact repository on tag
# commit on master

.publish-release:
  extends: .publish
  variables:
    REGISTRY: $CAR_OCI_REGISTRY_HOST
    USERNAME: $CAR_OCI_REGISTRY_USERNAME
    PASSWORD: $CAR_OCI_REGISTRY_PASSWORD
    PREFIX: $CAR_OCI_REGISTRY_HOST
    RELEASE: "true"
  only:
    variables:
       - $CI_COMMIT_MESSAGE =~ /^.+$/ # Confirm tag message exists
       - $CI_COMMIT_TAG =~ /^((([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?)(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?)$/ #Confirm semantic versioning of tag
  except:
    - branches

# Producer API

publish-dev-producer-api:
  extends: .publish-dev
  variables:
    DIRECTORY: broker-api

publish-rel-producer-api:
  extends: .publish-release
  variables:
    DIRECTORY: broker-api

# Display API

publish-dev-display-api:
  extends: .publish-dev
  variables:
    DIRECTORY: signal-display-api

publish-rel-display-api:
  extends: .publish-release
  variables:
    DIRECTORY: signal-display-api

# Display UI

publish-dev-display-ui:
  extends: .publish-dev
  variables:
    DIRECTORY: signal-display-ui

publish-rel-display-ui:
  extends: .publish-release
  variables:
    DIRECTORY: signal-display-ui

# ============================================================================
# CI metrics
# ============================================================================

include:
  - project: 'ska-telescope/templates-repository'
    file: 'gitlab-ci/includes/post_step.yml'
