image: node:16.14.0

services:
  - docker:dind

stages:
  - dependencies
  - lint
  - build
  - test
  - pages
  - deploy
  - publish

# install js dependencies
install_dependencies:
  stage: dependencies
  tags:
    - k8srunner
  script:
    - rm -rf node_modules && yarn install
  cache:
    paths:
      - node_modules/
    policy: push

code_analysis:
  stage: lint
  tags:
    - k8srunner
  cache:
    paths:
      - node_modules/
    policy: pull
  before_script:
    - mkdir -p build/reports
  script:
    - yarn run code-analysis
    - mv linting.xml build/reports/linting.xml
  artifacts:
    paths:
      - build/

code_lint:
  stage: lint
  tags:
    - k8srunner
  cache:
    paths:
      - node_modules/
    policy: pull
  script:
    - yarn lint

test_and_coverage:
  stage: test
  tags:
    - k8srunner
  cache:
    paths:
      - node_modules/
    policy: pull
  before_script:
    - mkdir -p build/reports
  script:
    - yarn run test
    - yarn run test:coverage
    - mv junit.xml build/reports/unit-tests.xml
    - mv build/coverage/cobertura-coverage.xml build/reports/code-coverage.xml

  coverage: /All\sfiles.*?\s+(\d+.\d+)/
  artifacts:
    paths:
      - build/
      
# run the unit tests
unit_tests:
  stage: test
  tags:
    - k8srunner
  cache:
    paths:
      - node_modules/
    policy: pull
  script:
    - yarn test

list_dependencies:
  stage: test
  tags:
    - k8srunner
  allow_failure: true
  cache:
    paths:
      - node_modules/
    policy: pull
  script:
    - yarn list --depth=0 --json >> npm_deps.json
    - yarn list --depth=0  >> npm_deps.txt
    - mkdir .public
    - cp npm_deps.txt .public/
    - cp npm_deps.json .public/
  artifacts:
    paths:
      - .public

# build and generate deployable outputs
build:
  stage: build
  tags:
    - k8srunner
  cache:
    paths:
      - node_modules/
    policy: pull
  script:
    - yarn build

pages:
  stage: pages
  tags:
    - k8srunner
  dependencies:
    - test_and_coverage
    - list_dependencies
    - code_quality
  script:
    - cp -r build/* public
  artifacts:
    paths:
      - public
    expire_in: 30 days

include:
  - template: Code-Quality.gitlab-ci.yml

  # .post step finalisers eg: badges
  - project: "ska-telescope/templates-repository"
    file: "gitlab-ci/includes/finaliser.gitlab-ci.yml"
  # .post step finalisers eg: badges
  - project: "ska-telescope/templates-repository"
    file: "gitlab-ci/includes/docs.gitlab-ci.yml"
  # deploy
  - project: "ska-telescope/templates-repository"
    file: "gitlab-ci/includes/release.gitlab-ci.yml"

code_quality:
  # https://docs.gitlab.com/ee/user/project/merge_requests/code_quality.html#generate-an-html-report
  artifacts:
    paths: [gl-code-quality-report.json]
  # disable dind service as it's not needed for k8srunner runners
  services: []
  tags:
    - k8srunner
  # We need to merge the rules with what we have here on template rules
  # https://gitlab.com/ska-telescope/templates-repository/-/blob/master/gitlab-ci/includes/rules.gitlab-ci.yml
  # https://docs.gitlab.com/ee/user/project/merge_requests/code_quality.html#using-with-merge-request-pipelines
  rules:
    - if: "$CODE_QUALITY_DISABLED"
      when: never
    # don't run branch pipeline if there are open MRs
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    # run on MRs
    - if: $CI_MERGE_REQUEST_IID
    # For `$CI_DEFAULT_BRANCH` branch, create a pipeline (this includes on schedules, pushes, merges, etc.).
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    # For tags, create a pipeline.
    - if: "$CI_COMMIT_TAG"
    # run on branches
    - if: "$CI_COMMIT_BRANCH"
