---
version: '2'
services:
  producer-api:
    # depends_on:
    #   - broker
    ports:
      - 8001:8001
      - 8888:8888 # jupyter notebaak for testing
    hostname: producer-api
    container_name: producer-api
    build:
      context: ./producer-api/
      dockerfile: Dockerfile
    environment:
      BROKER_INSTANCE: 'broker:29092'
    # restart: always

  metric-generator:
    depends_on:
      - producer-api
    hostname: metric-generator
    container_name: metric-generator
    build:
      context: ./metric-generator/
      dockerfile: Dockerfile
    shm_size: 2gb # to create enough plasma store for metric generator
    environment:
      PRODUCER_API: 'http://producer-api:8001'
    stdin_open: true # docker run -i
    tty: true # docker run -t
    volumes:
      - ./metric-generator/:/usr/src/metric-generator

  display-api:
    # depends_on:
    #   - broker
    ports:
      - 8002:8002
    hostname: display-api
    container_name: display-api
    build:
      context: ./display-api/
      dockerfile: Dockerfile
    environment:
      BROKER_INSTANCE: 'broker:29092'
    # restart: always

  display-ui:
    depends_on:
      - display-api
    ports:
      - 3000:3000
    hostname: display-ui
    container_name: display-ui
    build:
      context: ./display-ui/
      dockerfile: Dockerfile
      args:
        - API_URL=http://localhost:8002
        - WS_URL=ws://localhost:8002/ws
    # restart: always
