@import '../../../scss/variables';

table {
    border-collapse: collapse;
}

th {
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}

td,
th {
    padding: 3px;
    border: 1px solid $table-border;
    text-align: center;
}

th.des:after {
    content: "\21E9";
}

th.aes:after {
    content: "\21E7";
}
