@import '../../scss/colors';
@import '../../scss/variables';

.App {
  text-align: center;
  background-image: linear-gradient(to bottom left, $color-pri-01 75%, $color-pri-02);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-face-regular);
  font-size: calc(10px + 2vmin);
  color: $font-color;
}

.App-link {
  color: $color-tec-08;
}
