$color-text: white;

$color-pri-01: #070068;
$color-pri-02: #E50869;
$color-pri-03: #000000;
// Primarily used in science-related products and material
$color-sci-01: #006181;
$color-sci-02: #864249;
$color-sci-03: #EF7C38;
$color-sci-04: #F49E6B;
$color-sci-05: #EFEA78;
$color-sci-06: #0D1D2D;
$color-sci-07: #0E2538;
$color-sci-08: #17243D;
$color-sci-09: #087CBB;
$color-sci-10: #E50869;
$color-sci-11: #0B3B5C;
$color-sci-12: #4689C8;
$color-sci-13: #EB5C5D;
$color-sci-14: #D9B38E;
$color-sci-15: #74C095;
// Primarily used in products and material relating to engineering activities
$color-tec-01: #004337;
$color-tec-02: #205B42;
$color-tec-03: #1B1E2A;
$color-tec-04: #F7BE00;
$color-tec-05: #5D2A2B;
$color-tec-06: #313D47;
$color-tec-07: #5B6770;
$color-tec-08: #7C868B;
$color-tec-09: #A0A7AB;
$color-tec-10: #C1C6CA;
// Primarily used in products and material referring to telescope sites, local heritage, local communities, etc
$color-loc-01: #6A3F23;
$color-loc-02: #9B6017;
$color-loc-03: #B5814E;
$color-loc-04: #F9B34C;
$color-loc-05: #EB7802;
