:root {
    $font-size-base: 16px;
    $font-face-fallback: verdana, arial, sans-serif;
    $font-face-regular: 'Roboto Regular', --font-face-fallback;
    $font-face-light: 'Roboto Light', --font-face-fallback;
    $font-face-bold: 'Roboto Bold', --font-face-fallback;
    $font-face-primary: $font-face-regular;
}

$font-color: $color-tec-10;
