:root {
    --font-size-base: 16px;
    --font-color: var(--color-tec-10);
    --font-face-fallback: verdana, arial, sans-serif;
    --font-face-regular: 'Roboto Regular', --font-face-fallback;
    --font-face-light: 'Roboto Light', --font-face-fallback;
    --font-face-bold: 'Roboto Bold', --font-face-fallback;
    --font-face-primary: $font-face-regular;
}

$border-radius: 25px;
$header-height: 60px;
$opacity-disabled: 0.4;
